.temple-section.reverse{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }
  
  .temple-section.reverse {
    flex-direction: row-reverse;
  }
  
  .temple-section.reverse img {

        width: 100%;
        max-width: 300px;
        height: 350px;        /* Set a fixed height */
        object-fit: cover;    /* Ensures the image fills the area nicely */


  }
  
  .gayatri-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
  }
  
  .gayatri-img {
    height: auto;
    max-height: 60px;     /* you can adjust this based on image proportion */
    max-width: 220px;     /* controls width so it doesn't stretch too wide */
    width: 100%;
    object-fit: contain;  /* ensures image scales without distortion */
  }
  

  .temple-section.reverse p {
    max-width: 600px;
    font-size: 1rem;
    margin-right:15px;
    margin-top: auto;
  }
  
  

  .new-paragraph-section {

    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
   
  }
  